<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.cms.ct.entity.dao.CT_CONTENT_TBL_D">
    <insert id="insertContent" parameterType="com.app.cms.ct.entity.CT_CONTENT_TBL_E">
        insert into ct_content_tbl(CONT_NO) values(#{CONT_NO})
    </insert>
    <select id="countAll" resultType="int">
        select count(*) c from in_out;
    </select>
</mapper>